<mat-card [class.mat-elevation-z8]>
  <mat-card-title>
    <mat-checkbox [(ngModel)]="toDo.done" [disabled]="!editable">
      {{ toDo.name }}
    </mat-checkbox>
  </mat-card-title>
  <mat-card-content *ngIf="toDo.description">
    {{ toDo.description }}
  </mat-card-content>
  <button
    *ngIf="editable"
    mat-icon-button
    aria-label="Edit to do"
    class="edit"
    (click)="onEdit()"
  >
    <mat-icon aria-hidden="false">edit</mat-icon>
  </button>
  <button *ngIf="active" mat-raised-button color="primary" (click)="onSave()">
    Save
  </button>
</mat-card>
